#titulo-importante {
    background-color: green;
    color: blanchedalmond;
}


section {
    background-color: purple;
}

.titulo-secao {
    color: white;
}

.texto-generico {
    font-weight: bold;
}